@font-face {
    font-family: 'Roboto-Black';
    src: url('../public/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../public/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../public/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../public/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../public/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../public/Roboto/Roboto-Thin.ttf');
}

.body_container {
    margin: 0;
    background-color: white;
}

.main {
    display: block;
    min-height: 100vh;
    font-family: "Roboto-Light";
}
/* COMPONENTS */
.icon_item {
    color: dodgerblue;
}
.icon_btn {
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    align-items: center;
    align-content: center;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    margin-left: 1em;
    color: dodgerblue;
}
.icon_btn:hover {
    border-color: grey;
    color: grey;
}
.text_regular {
    font-family: 'Roboto-Regular';
}

/* AUTH */
.auth_form {
    position: relative;
    display: flex;
    width: 500px;
    margin: 150px auto;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}
.auth_title {
    margin: 0 auto;
    font-family: 'Roboto-Light';
}
.auth_field {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
}
.auth_label {
    font-family: 'Roboto-Regular';
    font-size: 10pt;
}
.auth_input {
    border: none;
    border-bottom: 1px solid green;
    padding: 5px;
    font-family: 'Roboto-Light';
    font-size: 10pt;
    color: green;
}
.auth_input:focus, .auth_input:focus-visible {
    outline: none;
}
.auth_btn {
    margin: 10px auto;
    padding: 5px 10px;
    border: none;
    width: fit-content;
    background-color: inherit;
    font-family: 'Roboto-Light';
    font-size: 10pt;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.auth_btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    color: green;
}

/* NAVIGATION */
.navigation_container {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: white;
    -webkit-box-shadow: 0px 6px 20px 2px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 6px 20px 2px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 6px 20px 2px rgba(34, 60, 80, 0.3);
}
.navigation_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}
.navigation_item {
    list-style-type: none;
    align-items: center;
}
.navigation_text:hover {
    color: grey;
    cursor: pointer;
}
.navigation_text {
    text-decoration: none;
    font-family: 'Roboto-Light';
    font-size: 18;
    font-weight: 600;
    color: black;
    padding: 10 20;
    margin: 20;
}

/* HOME PAGE */
.header_container {
    position: relative;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    padding: 1em 2em;
    align-items: center;
    justify-content: space-between;
}
.header_btn {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 10px;
    font-size: 12pt;
    cursor: pointer;
}
.home_content {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 1em;
    padding-top: 0;
}
.home_content_column {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: white;
}
.home_content_column_left {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 1em;
}
.home_content_column_right {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
}
.home_content_row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    background-color: white;
    margin: 0 1em;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.home_content_head {
    position: relative;
    display: block;
    margin: 1em;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.home_content_title, .home_content_subtitle {
    margin: 0;
    margin-bottom: 1em;
    font-family: 'Roboto-Light';
}
.home_content_subtitle {
    font-weight: 400;
}
.home_content_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home_content_title_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-family: 'Roboto-Thin';
    font-weight: 400;
}
.home_content_title_info_bold {
    font-family: 'Roboto-Regular';
}

/* BreadCrambs */
.breads_container {
    position: relative;
    display: flex;
}
.breads_element {
    font-family: 'Roboto-Thin';
    font-size: 16;
    margin: 0;
}
.breads_element:hover {
    color:lightslategrey;
    cursor: pointer;
}

/* SELECT COMPONENT */
.select_custom__dropdown_container {
    text-align: left;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: white;
}
.select_custom__dropdown_container .select_dropdown_input {
    padding: 7px 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    gap: 7px;
}
.select_custom__dropdown_container .select_dropdown_input .select_dropdown_selected_value_placeholder {
    color: black;
}
.select_custom__dropdown_container .select_dropdown_tool svg {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.select_custom__dropdown_container .select_dropdown_tool svg.select_translate {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.select_custom__dropdown_container .select_dropdown_menu {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 5px;
    position: absolute;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    overflow: auto;
    background-color: #fff;
    z-index: 99;
    max-height: 312px;
    min-height: 50px;
}
.select_custom__dropdown_container .select_dropdown_menu::-webkit-scrollbar {
    width: 5px;
}
.select_custom__dropdown_container .select_dropdown_menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.select_custom__dropdown_container .select_dropdown_menu::-webkit-scrollbar-thumb {
    background: #888;
}
.select_custom__dropdown_container .select_dropdown_menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.select_custom__dropdown_container .select_dropdown_menu_alignment__left {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 5px;
    position: absolute;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    overflow: auto;
    background-color: #fff;
    z-index: 99;
    max-height: 312px;
    min-height: 50px;
    left: 0;
}
.select_custom__dropdown_container .select_dropdown_item {
    padding: 7px 10px;
    cursor: pointer;
    -webkit-transition: background-color 0.35s ease;
    transition: background-color 0.35s ease;
    border-radius: 6px;
    font-weight: 500;
}

.select_custom__dropdown_container .select_dropdown_item:hover {
    background-color: rgba(130, 134, 139, 0.05);
    color: #ff7300;
}

.select_custom__dropdown_container .select_dropdown_item_selected {
    padding: 7px 10px;
    cursor: pointer;
    -webkit-transition: background-color 0.35s ease;
    transition: background-color 0.35s ease;
    border-radius: 6px;
    background-color: rgba(255, 115, 0, 0.075);
    color: #ff7300;
    font-weight: 600;
}

.select_custom__dropdown_container .select_search_box {
    padding: 5px;
}

.select_custom__dropdown_container .select_search_box input {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select_custom__dropdown_container .select_dropdown_tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 5px;
}

.select_custom__dropdown_container .select_dropdown_tag_item {
    background-color: #ff7300;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 4px;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.select_custom__dropdown_container .select_dropdown_tag_close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5px;
}

/* AQI VIDGET */
.aqi_container_green {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #5dc962;
    padding: 1em;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.aqi_container_yellow {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d1cb52;
    padding: 1em;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.aqi_container_red {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d9574e;
    padding: 1em;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.aqi_content_left {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.aqi_index_box_green {
    padding: 5px 15px;
    margin-right: 1em;
    background-color: #1e9c05;
}
.aqi_index_box_yellow {
    padding: 5px 15px;
    margin-right: 1em;
    background-color: #b7ba06;
}
.aqi_index_box_red {
    padding: 5px 15px;
    margin-right: 1em;
    background-color: #c94030;
}
.aqi_index_box_top_text {
    color: white;
    font-size: 11pt;
}
.aqi_index_box_bottom_text {
    color: white;
    font-family: 'Roboto-Regular';
    font-size: 24pt;
    margin: 0;
}
.aqi_index_center {
    padding: 5px;
}
.aqi_index_center_top_text {
    font-size: 11pt;
}
.aqi_index_center_bottom_text {
    font-family: 'Roboto-Regular';
    font-size: 24pt;
    margin: 0;
}

/* MAP BANNER */
.map_banner_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url('/iqair-pollution-map-station-preview@1x.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
    align-items: center;
    padding: 1em;
    min-height: 500px;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.map_banner_container:hover {
    background-size: 120%;
    cursor: pointer;
}
.map_banner_text_top {
    color: dodgerblue;
    font-size: 11pt;
}
.map_banner_text_center {
    color: white;
    font-size: 15pt;
    font-family: 'Roboto-Bold';
    font-weight: 500;
}
.map_banner_button {
    border: 1px solid white;
    padding: 5px 10px;
    color: white;
    font-size: 14pt;
    font-family: 'Roboto-Regular';
}

/* LOCATION REVIEW COMPONENT */
.review_container {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: white;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.review_review {

}
.review_title_blue {
    color: dodgerblue;
    font-family: 'Roboto-Regular';
    font-size: 12pt;
}
.review_title {
    font-size: 14pt;
}
.review_table {
    width: 100%;
    /* border: 1px solid #bababa; */
    /* gap: 0; */
    border-spacing: 0;
}
.review_table tr {
    padding: 0;
    margin: 0;
    height: 40px;
    border: 1px solid #e6e8eb;
}
.review_table th {
    background-color: #e6e8eb;
    height: 40px;
    text-align: start;
    padding-left: 1em;
    font-family: 'Roboto-Regular';
}
.review_table td {
    padding-left: 1em;
    border: 1px solid #e6e8eb;
}
.review_concentration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    margin-top: 1em;
    align-items: center;
}
.review_concentration_text_top {
    font-size: 10pt;
}
.review_concentration_line_red {
    height: 5px;
    width: 60%;
    background-color: #d9574e;
    border-radius: 3px;
}
.review_concentration_line_percent_red {
    height: 5px;
    background-color: #c94030;
    border-radius: 3px;
}
.review_concentration_line_yellow {
    height: 5px;
    width: 60%;
    background-color: #d1cb52;
    border-radius: 3px;
}
.review_concentration_line_percent_yellow {
    height: 5px;
    background-color: #b7ba06;
    border-radius: 3px;
}
.review_concentration_line_green {
    height: 5px;
    width: 60%;
    background-color: #5dc962;
    border-radius: 3px;
}
.review_concentration_line_percent_green {
    height: 5px;
    background-color: #1e9c05;
    border-radius: 3px;
}
.review_recomendations_table {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.review_recomendations_item {
    width: 45%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    align-items: center;
}
.review_recomendations_item_text {
    margin-left: 1em;
}

/* AIR FORECAST COMPONENT */
.forecast_container {
    position: relative;
    padding: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.forecast_title_blue {
    color: dodgerblue;
    font-family: 'Roboto-Regular';
    font-size: 12pt;
}
.forecast_title {
    font-size: 14pt;
    margin-top: 0;
}
.forecast_table {
    border-spacing: 0;
    border-collapse: collapse;
}
tr.forecast_table_head {
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #e6e8eb;
}
.forecast_table th {
    font-size: 10pt;
    text-align: start;
    padding-bottom: 1em;
}
.forecast_table tr {
    border-left: 1px solid #e6e8eb;
    border-right: 1px solid #e6e8eb;
}
.forecast_table tr:last-child {
    border-bottom: 1px solid #e6e8eb;
}
.forecast_table td {
    text-align: center;
    font-size: 11pt;
}
.fcast_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;
    padding-left: 1em;
    padding-right: 1em;
}
.fcast_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.forecast_text_bottom {
    align-self: flex-end;
    font-size: 12pt;
}

/* PRODUCER DATA COMPONENT */
.producer_container {
    position: relative;
    padding: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.producer_title_blue {
    color: dodgerblue;
    font-family: 'Roboto-Regular';
    font-size: 12pt;
    margin: 0;
    margin-top: 1em;
}
.producer_title {
    font-size: 14pt;
    margin-top: 0;
    margin-top: 1em;
}
.producer_person {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    border: 1px solid #e6e8eb;
}
.producer_person_info {
    display: block;
    margin-left: 1em;
}
.producer_person_info_top {
    font-family: 'Roboto-Regular';
    font-size: 10pt;
    margin: 0;
}
.producer_person_info_bottom {
    font-size: 10pt;
    margin: 0;

}
.producer_banner {
    display: block;
    padding: 1em;
    border: 1px solid #e6e8eb;
    justify-items: center;
    margin-top: 1em;
    text-align: center;
}
.producer_banner_title {
    font-family: 'Roboto-Regular';
}
.producer_link {
    font-size: 10pt;
}

/* WEATHER BANNER */
.bweather_container {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.bweather_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e1f0f5;
    padding: 1em;
}
.bweather_header_title_blue {
    color: dodgerblue;
    font-family: 'Roboto-Regular';
    font-size: 11pt;
}
.bweather_header_title {
    font-size: 12pt;
}
.bweather_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e6e8eb;
    padding: 1em;
}
.bweather_row_left {
    font-size: 12pt;
}
.bweather_row_right {
    font-family: 'Roboto-Regular';
    font-size: 12pt;
}